<h1>Hello Welcome to signup page</h1>

<%= form_tag '/signup' do %>
<%= text_field_tag :enrollment%><br><br>
<%= text_field_tag :name%><br><br>
<%= password_field_tag :password%><br><br>
<%= submit_tag "signup"%>
<%end%>