
<!DOCTYPE html>
<html>
<head>
  <title>Voting</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
</head>
<body>
 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">ONLINE VOTING SYSTEM</a>
    </div>
      <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="/cse">CSE</a></li>
      <li><a href="/it">IT</a></li>
      <li><a href="/ece">ECE</a></li>
      <li><a href="/bt">BT</a></li>
      <li><a href="/ct">CT</a></li>
    </ul>


    <ul class="nav navbar-nav navbar-right">
     <%if user_signed_in?%>
     <li><%= link_to 'logout', destroy_user_session_path, method: :delete %><span class="glyphicon glyphicon-user"></span> Logout</a></li>



      <%else%>
      <li><a href="/users/sign_up"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/users/sign_in"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>


      <%end%>
    </ul>

  </div>
</nav>
 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>
<div class="container">
  <%= yield%>
</div>

</body>
</html>
